<!-- <div id="footer">
  <div class="row footer-row">
    <div class="col s12 m4 contact-box">
      <h2>CONTACT</h2>
      <div class="divide"></div>
      <h3>
        35135 Johnson Rd.
        <br>
        Agua Dulce, CA 91390
      </h3>
      <h3>
        (661) 733-7909
      </h3>
      <h3>
        mobilequinediagnostics@hotmail.com
      </h3>
    </div>
    <div class="col s12 m4 fb-follow">
      <img src="assets/facebook.png" alt="facebook logo">
      <h3>
        Follow Us
        <br>
        On Facebook!
      </h3>
    </div>
    <div class="col s12 m4 map">
      <img src="assets/map.png" alt="google maps image of Agua Dulce, CA">
    </div>
  </div>
</div> -->

<div id="footer">
  <div class="row footer-row">
    <!-- <h2>CONTACT</h2> -->
    <div class="col s12 m6 contact-info">
        <!-- <h3>
          Follow Us! <img src="assets/facebook.png" alt="facebook logo">
        </h3> -->
        <a href="https://www.facebook.com/Mobile-Equine-Diagnostics-Inc-162797587127509/"><img src="assets/fb-blue-72.png" alt="" class="fb-small"></a> 
        <a href="https://www.facebook.com/Mobile-Equine-Diagnostics-Inc-162797587127509/"><h3>Follow Us!</h3></a>
        <h3> 
          <a href="https://goo.gl/maps/TQ7rH3mzf7m">
            35135 Johnson Rd.
            <br>
            Agua Dulce, CA 91390
          </a>
        </h3>
        <h3>
          <a href="tel: 1-661-733-7909">(661) 733-7909</a>
        </h3>
        <h3>
          <a href="mailto:mobilequinediagnostics@hotmail.com">mobilequinediagnostics@hotmail.com</a>  
        </h3>
        <!-- <h3><a href="">Follow on FACEBOOK!</a></h3> -->
    </div>
    <div class="col s12 m6 map">
       <a href="https://goo.gl/maps/TQ7rH3mzf7m"><img src="assets/map.png" alt="google maps image of Agua Dulce, CA"></a> 
    </div>
  </div>
</div>