<div id="contact">
  <div class="row banner-row">
    <div class="col s12 banner">
      <div class="row">
        <div class="col s5 banner-arrow">
          <img src="assets/banner-arrow.png" alt="">
          <h1>CONTACT</h1>
        </div>
      </div>
    </div>
  </div>
  <h3 class="emergency">24/7 Emergency Services</h3>
  <div class="row contact-row">
    <div class="col s12">
      <div class="row contact-header-row">
        <div class="col s12">
          <div class="line-vert"></div>
          <div class="row">
            <h1 class="contact-h1">CONTACT US</h1>
            <img src="assets/logo-only.png" alt="" class="mission-logo">
            <div class="line-hor"></div>
          </div>
          <div class="row contact-info-row">
            <div class="col s6">
              <img src="assets/contact-hs.png" alt="" class="contact-hs">
            </div>
            <div class="col s6 we-come-col">
              <h2 class="contact-h2">WE COME TO YOU FOR<br>ALL YOUR HORSE'S<br>HEALTH NEEDS!</h2>
            </div>
            <div class="col s12 contact-info">
              <h3 class="contact-h3">ADDRESS:</h3>
              <h4 class="contact-h4">
                <a href="https://goo.gl/maps/TQ7rH3mzf7m">
                  35135 Johnson Road<br>Agua Dulce, CA 91390
                </a>
              </h4>
              <h3 class="contact-h3">PHONE:</h3>
              <h4 class="contact-h4"><a href="tel: 1-661-733-7909">(661) 733-7909</a></h4>
              <h3 class="contact-h3">EMAIL:</h3>
              <h4 class="contact-h4 email"> 
                <a href="mailto:mobilequinediagnostics@hotmail.com">mobilequinediagnostics<br>@hotmail.com</a>  
              </h4>
            </div>
          </div>
          <div class="row contact-bottom">
            <div class="col s12">
              <img src="assets/jack-contact.png" alt="" class="jack-contact">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>