<div id="testimonials">
  <div class="row banner-row">
    <div class="col s12 banner">
      <div class="row">
        <div class="col s5 banner-arrow">
          <img src="assets/banner-arrow.png" alt="">
          <h1>TESTIMONIALS</h1>
        </div>
      </div>
    </div>
  </div>
  <h3 class="emergency">24/7 Emergency Services</h3>
  <div class="row test-header-row">
    <div class="col s12 test-header">
      <div class="line-vert"></div>
      <div class="row words-header-row">
        <h1 class="words-h1">WORDS FROM OUR CLIENTS</h1>
        <img src="assets/logo-only.png" alt="" class="mission-logo">
        <div class="line-hor"></div>
      </div>      
    </div>
  </div>
  <div class="row testimonials-row">
    <div class="col s12">
      <div class="row quote-row-1">
        <div class="col s12 m5 quote1-col">
          <p class="quote1">
              “Dr. Jackie is very smart, friendly and down to earth. I’m happy to call her our vet, & trust her with my horses.”<br>
             <span class="name">- Nicole Slamer-Higdon</span> 
          </p>
        </div>
        <div class="col s12 m7 quote2-col">
          <p class="quote2">
              “Wonderful every time!! My mare has some mild navicular changes & Jackie came out to give my mare Osphos & also prescribed equioxx. Since then, she’s doing wonderful & in excellent spirits!! Stellar, excellent, no words can perfectly describe Mobile Equine Diagnostics Inc.!”<br>
             <span class="name">- Samantha Peevy</span> 
          </p>
        </div>
      </div>
      <div class="row quote-row-2">
        <div class="col s12 m7 quote3-col">
          <p class="quote3">
              “Dr. Jackie is a fantastic vet. She has great inner sense of what a horse’s problem is. Being a fantastic human being helps her have a great bedside manner with her patient’s owners. Her husband Martin is a great asset to her. They make such a complementary team. She always returns calls and you can completely count on her. She’s a definitely a five star vet!”<br> 
             <span class="name">- Carol Botnick Kar</span> 
          </p>
        </div>
        <div class="col s12 m5 quote4-col">
          <p class="quote4">
              “Love this woman. Always answers my calls & when she can’t get out she’ll walk you through it on text or call. Great with my horses. What a great team the two of them are!”<br>
             <span class="name">- Lynn Anne Hollywood</span> 
          </p>
        </div>
      </div>
    </div>
  </div>  
  <div class="row test-bottom-row">
    <div class="col m8">
      <img src="assets/jack-test.png" alt="" class="jack-test">
    </div>
    <div class="col s12 m4 req-app">
        <div class="req-t-box">
          <h4>Request an<br> Appointment</h4>
          <h4><a href="tel: 1-661-733-7909">(661) 733-7909</a></h4>
        </div>
        <div class="req-b-box">
          <h4>“She has great inner sense of what a horse’s problem is.”</h4>
        </div>   
        <img src="assets/req-app-arrow.png" alt="" class="req-app-arrow">                 
      </div>
  </div>
</div>