<div id="team">
  <div class="row banner-row">
    <div class="col s12 banner">
      <div class="row">
        <div class="col s12 m5 banner-arrow">
          <img src="assets/banner-arrow.png" alt="">
          <h1>OUR TEAM</h1>
        </div>
      </div>
    </div>
  </div>
  <h3 class="emergency">24/7 Emergency Services</h3>
  <div class="row team-row">
    <div class="col s12">
      <div class="row jack-row">
        <div class="col s12">
          <div class="line-vert"></div>
          <div class="row jack-header-row">
            <h1 class="jack-h1">MEET JACKIE</h1>
            <!-- <img src="assets/team-hs.png" alt=""> -->
            <img src="assets/logo-only.png" alt="" class="mission-logo">
            <div class="line-hor"></div>
          </div>
          <div class="row jack-content-row">
            <div class="col s12 m8 jack-content">
              <h3 class="jack-name">Jacqueline Friedlander, DMV</h3>
              <p>
                  Jacqueline is a graduate of the Western University of Health Sciences – College of Veterinary Medicine. She was born and raised in the Brentwood area of West Los Angeles and began riding horses at the age of 4. She spent many years on the hunter-jumper ‘A’ circuit with Rob Gage Stables at Middle Ranch before leaving the horse show world to dedicate more time to her growing horse training and riding lesson business. Jackie met her husband, Martin while training horses in the Topanga canyon area. Martin introduced her to a wide equine world of polo, cutting, and reined cow horse events as well as natural horsemanship training. She and her husband own 3 horses (two Quarter horses and one Warmblood) and are very active in the horse community. 
              </p>
              <p>
                  Her interests in veterinary medicine are lameness diagnostics and therapies, ophthalmology, and internal medicine. Dr. Friedlander is a member of the California Veterinary Medical Association as well as the American Association of Equine Practitioners. In her spare time, Jackie enjoys reading, running with her chocolate Labrador, Colt, and camping in the Santa Ynez and Carmel Valleys with her husband, daughter, horses and dog. 
              </p>
            </div>
            <div class="col s12 m4 req-app">
              <div class="req-t-box">
                <h4>Request an<br> Appointment</h4>
                <h4><a href="tel: 1-661-733-7909">(661) 733-7909</a></h4>
              </div>
              <div class="req-b-box">
                <h4>“She has great inner sense of what a horse’s problem is.”</h4>
              </div>   
              <img src="assets/req-app-arrow.png" alt="" class="req-app-arrow">                 
            </div>
          </div>
        </div>
      </div>
      <div class="row team-pics">
        <div class="col s12 m7 ">
          <img src="assets/jack-team.png" alt="" class="jack-pic">
        </div>
        <div class="col s12 m5 ">
            <img src="assets/mart-team.png" alt="" class="mart-pic">          
        </div>
      </div>
      <div class="row mart-row">
        <div class="col s12">
          <div class="line-vert"></div>
          <div class="row jack-header-row">
            <h1 class="jack-h1">MEET MARTIN</h1>
            <!-- <img src="assets/team-hs.png" alt=""> -->
            <img src="assets/logo-only.png" alt="" class="mission-logo">
            <div class="line-hor"></div>
          </div>
          <div class="row jack-content-row">
            <div class="col s12 m8 jack-content">
              <h3 class="jack-name">Martin Friedlander</h3>
              <p>
                  Martin is a native of South Africa and emigrated to the United States as a teenager with his family. While in South Africa he grew up riding horses on his uncle’s ranch in Natal. He is an athlete enjoys soccer and cricket. He developed a personal training and fitness business in the Santa Monica area. Martin rode horses in the Topanga canyon area, which is where he met his wife, Dr. Jackie Friedlander. His equine interests soon expanded to include cutting and reined cow horse events. Martin spent many years working with the founders of the ‘natural horsemanship’ techniques that are used by many clinicians today. 
              </p>
              <p>
                  While in Carmel Valley working under the guidance of the late Kent Hennicks (a disciple of Tom and Bill Dorrance) he was able to hone his communication skills with both horses and their people. Martin brings this essential component into his wife’s veterinary practice. Martin assists Dr. Friedlander at most of her appointments. He allows Dr. Friedlander to provide care for her equine patients using the least amount of restraint possible. This allows for a low stress veterinary visit. In his spare time Martin enjoys playing soccer, cricket, and camping with his wife, daugher, horses and dog, Colt. 
              </p>
            </div>
            <div class="col s12 m4 req-app">
              <div class="req-t-box">
                <h4>Request an<br> Appointment</h4>
                <h4><a href="tel: 1-661-733-7909">(661) 733-7909</a></h4>
              </div>
              <div class="req-b-box">
                <h4>“She has great inner sense of what a horse’s problem is.”</h4>
              </div>   
              <img src="assets/req-app-arrow.png" alt="" class="req-app-arrow">                 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>