<div id="home">
    <div class="row">
        <div class="col s12 ranch-home-img">
            <img src="assets/ranch-home.png" alt="">
        </div>
    </div>
    <div class="row mission-section">
        <div class="col s12">
            <div class="line-vert"></div>
            <div class="row mission-header-row">
                <div class="col s12">
                    <h1 class="mission-h1">OUR MISSION</h1>
                    <img src="assets/logo-only.png" alt="" class="mission-logo">
                    <div class="line-hori"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 mission-state">
                    <p>
                        Our mission is to provide the highest quality veterinary care in a low stress environment with minimal restraint. We believe in the ability to use minimally invasive techniques to reduce the anxiety that is associated with a visit from the veterinarian while at the same time retaining the utmost standard of care.
                    </p>
                </div>
            </div>
            <div class="row proudly-serve">
                <div class="col s12 m6 serve-areas">
                    <h4>PROUDLY SERVING</h4>
                    <ul>
                        <li>AGUA DULCE</li>
                        <li>ACTON</li>
                        <li>CANYON COUNTRY</li>
                        <li>LAKEVIEW TERRACE</li>
                        <li>BURBANK AREAS</li>
                        <li>SANTA CLARITA</li>
                        <li>SHADOW HILLS</li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <img src="assets/serve-img.png" alt="" class="serve-img">
                </div>
            </div>
        </div>
    </div>
    <div class="we-offer-sec">
        <img src="assets/we-offer-sq.png" alt="" class="we-offer-sq">      
        <img src="assets/horse-heart.png" alt="" class="horse-heart">      
        <div class="row">
            <div class="col s12 m8 top-sec">
                <ul class="offer-top-ul">
                    <li class="offer-top-li">FULL<br>SERVICE</li>
                    <li class="offer-top-li">COMPETITIVE<br>PRICING</li>
                </ul>
            </div>
            <div class="col s12 m8">
                <h1>WE OFFER</h1>
            </div>
            <div class="col m3 offer-bottom">
                <img src="assets/horse-shoe.png" alt="" class="horse-shoe">
            </div>
            <div class="col m5 offer-bottom2">
                <ul>
                    <li>HAUL IN/OUT AMBULATORY SERVICE</li>
                    <li>ON-SITE CLIENT EDUCATION SEMINARS</li>
                    <li>LAMENESS DIAGNOSTIC SPECIALTY</li>
                    <li>MINOR SURGICAL SERVICES</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row specials-section mission-section">
        <div class="col s12">
            <div class="line-vert"></div>     
            <div class="row mission-header-row">
                <div class="col s12">
                    <h1 class="mission-h1">SPECIALS</h1>
                    <img src="assets/logo-only.png" alt="" class="mission-logo2">
                    <div class="line-hori"></div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col s12 special1">
                    <h3>February: <span class="month-special">Dental Discount Month!</span></h3>
                    <h4>10% off Dental Services</h4>
                </div>
                <div class="col s12 special2">
                    <h3>March/April: <span class="month-special">Parasite Awareness!</span></h3>
                    <h4>10% off Parasitology Services</h4>
                    <h4>(Deworming & Fecal Exams)</h4>
                </div> -->
                <div class="col s12 special1">
                    <h3><a href="https://www.facebook.com/Mobile-Equine-Diagnostics-Inc-162797587127509/">Follow us on Facebook for daily specials!</a></h3>
                    <a href="https://www.facebook.com/Mobile-Equine-Diagnostics-Inc-162797587127509/"><img src="assets/fb-blue-114.png" alt="" class="fb-special"></a> 
                </div>
            </div>
        </div>
    </div>
    <div class="row icono-section">

        <!-- <div class="col s12 icono-col">
            <div class="row">
                <div class="col s6">
                    <img src="assets/icon-boots.png" alt="Iconoclast Sports Boots" class="boots">
                </div>
                <div class="col s6 icon-right">
                    <img src="assets/ask-us-about.png" alt="Ask Us About" class="ask-us">
                    <img src="assets/icon-logo.png" alt="Iconoclast Logo" class="icon-logo">
                </div>
            </div>
        </div> -->

        <div class="col s12 icono-col">
            <div class="row">
                <div class="col s12 m6">
                    <a href="http://www.myequinestoreonline.com/main.asp?uri=1360&id=782"><h3>Buy From Our<br>Online Pharmacy!</h3></a> 
                    <a href="http://www.myequinestoreonline.com/main.asp?uri=1360&id=782"><img src="assets/estore.png" alt=""></a> 
                </div>
                <div class="col s12 m6">
                    <h3 class="ask">Ask Us<br>About...</h3>
                    <img src="assets/icon-logo.png" alt="Iconoclast Logo" class="i-logo">
                </div>
            </div>
        </div>

    </div>
</div>